test.py 
capture_vid_to_mp4.py 
__pycache__ 
FASGDIII_facial_recognition/.ipynb_checkpoints/ 
FASGDIII_facial_recognition/__pycache__/ 
FASGDIII_facial_recognition/.virtual_documents/ 
FASGDIII_facial_recognition/dataset/ 
FASGDIII_gesture_recognition/dataset/ 
FASGDIII_gesture_recognition/__pycache__/ 
FASGDIII_soundwave_recogntion/__pycache__/ 
FASGDIII_soundwave_recogntion/dataset/ 
FASGDIII_soundwave_recogntion/.ipynb_checkpoints/ 
FASGDIII_soundwave_recogntion/.virtual_documents/
key/cloudinary.yml
key/key_gen.pem
key/__pycache__

