

body {
    align-items: center;
    background: rgb(19, 12, 59);
    background-image: url("../images/bg3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    padding: 0 auto;
    background-color: rgb(250, 250, 247);
    font-family: 'Handlee', cursive;
    font-size: 27px;
}

p {
    line-height: 1.5;
    color: #fff;
}

.second-section {
  margin-left: 270px;
  margin-right: 270px;
  margin-bottom: 8px;
  text-align: justify;

}

.timer-class {
    text-align: center;
    align-items: center;
    align-items: center;
}

#first-heading {
    font-size: 50px;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: black;
    text-decoration-color: aliceblue;
    color: whitesmoke;
}

#video-frames {
  margin-right: 0px;
  margin-left: 10px;
  height: 500px;
}

.voice-container {
  float:right;
  margin-right: 550px;
  margin-bottom: 70px;

}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 200px;
  width: 200px;
  position: relative;
  transform: scale(1);
}

.circle {
  background-color: #010f1c;
  height: 100%;
  width: 100%;
  border-radius: 80%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.gradient-circle {
  background: conic-gradient(
    #4764b2 0%,
    #4c5da4 40%,
    #eeeff5 40%,
    #fff 60%,
    #33336d 60%,
    rgb(42, 48, 91) 100%
  );
  height: 220px;
  width: 220px;
  z-index: -2;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
}

.pointer {
  background-color: #fff;
  border-radius: 3%;
  height: 10px;
  width: 20px;
  display: block;
}

.pointer-container {
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;
  animation: rotate 7.5s linear forwards infinite;
  transform-origin: bottom center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container.grow {
  animation: grow 3s linear forwards;
}

@keyframes grow {
  from {
    transform: scale(0.6);
  }

  to {
    transform: scale(0.9);
  }
}

.container.shrink {
  animation: shrink 3s linear forwards;
}

@keyframes shrink {
  from {
    transform: scale(0.9);
  }

  to {
    transform: scale(0.6);
  }
}

#timerMins, #timerSeconds, #timerTens {
    color: white;
    font-size: 35px;
}
